#calculadora{
    border: 3px solid black;
    margin: 0 auto;
    width: 25%;
    height: 20em;

}

input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: springgreen;
}
#resultado{
    background-color: black;
    color: springgreen;
    font-size: x-large;
}